body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}
h1{background-color: #2ecc71;}
h1, legend{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
table{
    width: 1030 px;
    padding: 10px;
    margin: auto;
    top: 20%;
    background: #191919;
    text-align: center;
    border-radius: 20px;
    border-collapse: separate;
    border-spacing: 10px 10px 
}
th{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: black;
    background-color: #2ecc71;
    border-radius: 20px;
}
td{
    color: white;
}
#Botao{
    border:0;
    background: none;
    display: block;
    margin: 20px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
#Botao:hover{
    background: #2ecc71;
}
a{
    color: #2ecc71;
    text-decoration: none
}


#NavBar{
    display: flex;
    color: black;
}
li{
    list-style: none;
    margin: 20px 0px 0px 30px;
    font-size: 20px;
    text-transform: uppercase;
}
.NB_itens{
    text-align: center;
    border: 2px solid #2ecc71;
    outline: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 24px;
    transition: 0.25s;
    text-decoration: none
}
.NB_itens:hover{
    background: #2ecc71;
}