<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/Formulario.css" th:href="@{/css/Formulario.css}">

    <title>CRUD</title>
</head>
<body>
    <div id="Container">
        <h1>Cadastro</h1>
        <form action="/Index" method="post" class="Formulario" th:object="${Pessoa}">
            <fieldset> <legend>Pessoa</legend>
                <input type="hidden" name="id" th:value="${Pessoa.id}">
                <input type="text" class="Entrada" name="Nome" placeholder="Nome" th:value="${Pessoa.Nome}">
                <input type="text" class="Entrada" name="Apelido" placeholder="Apelido" th:value="${Pessoa.Apelido}">
                <input type="text" class="Entrada" name="Time" placeholder="Time do coração" th:value="${Pessoa.Time}">
                <input type="number" class="Entrada" name="CPF" placeholder="CPF" th:value="${Pessoa.CPF}">
                <input type="text" class="Entrada" name="Hobbie" placeholder="Hobbie" th:value="${Pessoa.Time}">
            </fieldset>
            <fieldset> <legend>Cidade</legend>
                <input type="text" class="Entrada" name="Cidade" placeholder="Nome da Cidade" th:value="${Pessoa.Cidade}">
                <input type="number" class="Entrada" name="Quantidade" placeholder="Quantidade de Habitantes" th:value="${Pessoa.Quantidade}">
    
                <select id="Estado" name="Estado">
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="EX">Estrangeiro</option>
                </select>
                <input type="submit" value="Cadastrar">
                <input type="reset" value="Limpar">
            </fieldset>
        </form>
    </div>
</body>
</html>