<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Dados</title>

    <link rel="stylesheet" href="css/Tabela.css">
</head>
<body>
    <h1>Tabela de Cadastro</h1>
    <a href="/Index" id="Botao">Página de Cadastro</a>
    <table>
        <thead>
            <tr>
                <th colspan="6">Pessoa</th>
                <th colspan="3">Cidade</th>
                <th colspan="2">Opções</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Apelido</th>
                <th>Time</th>
                <th>CPF</th>
                <th>Hobbie</th>
                <th>Cidade</th>
                <th>Quantidade</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr data-th-each="Pessoa : ${Banco_De_Dados}">
                <td data-th-text="${Pessoa.id}"></td>
                <td data-th-text="${Pessoa.Nome}"></td>
                <td data-th-text="${Pessoa.Apelido}"></td>
                <td data-th-text="${Pessoa.Time}"></td>
                <td data-th-text="${Pessoa.CPF}"></td>
                <td data-th-text="${Pessoa.Hobbie}"></td>
                <td data-th-text="${Pessoa.Cidade}"></td>
                <td data-th-text="${Pessoa.Quantidade}"></td>
                <td data-th-text="${Pessoa.Estado}"></td>
                <td>
                    <a th:href="@{'/Editar/'+${Pessoa.id}}">Editar</a>
                </td>
                <td>
                    <a href="">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>